#navbar {
position: relative;
z-index: 198;
font-family: "arial","sans-serif";
font-size: 12px;
line-height: 1em;
display: block;
zoom: 1;
min-width: 1000px;
}

.nav-sprite {
    background-image: url(../images/global.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}
#nav-logo{
    padding: 17px 40px 0px 18px;
    float:left;
}


#nav-logo .nav-logo-base {
background-position: -10px -10px;
width: 109px;
height: 33px;
}

#nav-logo .nav-logo-base {
float: left;
text-indent: -500px;
}

#nav-logo .nav-logo-link {
clear: both;
display: inline-block;
cursor: pointer;
}

#nav-logo .nav-logo-tagline {
position: absolute;
color: #48A3C6;
font-size: 11px;
line-height: 11px;
font-weight: bold;
white-space: nowrap;
text-decoration: underline;
font-family: "arial","sans-serif";
background-repeat: no-repeat;
background-position: -1000px 0px;
}

#nav-logo .nav-logo-tagline {
top: 39px;
left: 93px;
}

#welcomeRowTable {
float:right;
height: 50px;
background-position: left top;
background-repeat: no-repeat;
z-index: 10;
overflow: hidden;
}

#navbar #nav-logo-borderfade {
height: 1px;
line-height: 0;
overflow: hidden;
background-color: #e7e7e7;
position: relative;
}

#navbar #nav-logo-borderfade .nav-fade {
position: absolute;
left: 165px;
height: 1px;
width: 98px;
line-height: 0;
overflow: hidden;
background-position: -10px -320px;
background-color: #fff;
}

#navbar #nav-logo-borderfade .nav-fade-mask {
position: absolute;
left: 0;
top: -1px;
height: 3px;
width: 165px;
padding: 0;
margin: 0;
line-height: 0;
background: #fff;
overflow: hidden;
}

#navbar #nav-bar-inner {
display: block;
zoom: 1;
padding: 0;
margin: 0;
height: auto;
white-space: nowrap;
background-position: 0px -724px;
}

#navbar .nav-button-outer {
position: relative;
float: left;
top: 1px;
display: inline-block;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
overflow: hidden;
height: 46px;
padding: 0px 0px 0px 10px;
margin: 0px 1px;
border: 0px;
text-decoration: none;
cursor: pointer;
-webkit-border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
border-radius: 0px\9;
-ms-touch-action: none;
}

#navbar .nav-button-outer:hover {
top: 0px;
margin: 0px;
height: 47px;
border: 1px solid #ddd;
border-bottom-color: #ccc;
-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
}

#navbar .nav-button-outer .nav-button-line1 {
height: 14px;
line-height: 14px;
font-size: 12px;
margin-top: 9px;
}

#navbar .nav-button-outer .nav-button-line2 {
line-height: 15px;
font-weight: bold;
font-size: 14px;
padding-bottom: 5px;
}

#navbar .nav-button-outer .nav-down-arrow {
display: inline-block;
border-style: solid;
_border-style: dashed;
border-width: 4px;
border-color: transparent;
border-top: 4px solid #606060;
border-bottom-width: 0;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
margin: 0px 0px 2px 5px;
visibility: visible;
}

#navbar .nav-button-outer .nav-button-line1, #navbar .nav-button-outer .nav-button-line2 {
float: left;
clear: both;
display: inline-block;
white-space: nowrap;
color: black;
font-family: "arial","sans-serif";
padding-right: 11px;
}

#navbar #nav-bar-left {
position: relative;
overflow: hidden;
float: left;
display: inline-block;
width: auto;
padding: 4px 27px 0px 6px;
}

#navbar #nav-bar-inner {
display: block;
zoom: 1;
padding: 0;
margin: 0;
height: auto;
white-space: nowrap;
background-position: 0px -724px;
}

#navbar #nav-bar-right {
position: relative;
float: right;
width: auto;
display: inline-block;
padding: 4px 7px 0px 32px;
}

#navbar #nav-bar-middle {
width: auto;
height: 55px;
padding: 0px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
white-space: nowrap;
}

#navbar #nav-bar-middle {
width: auto;
height: 55px;
padding: 0px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
white-space: nowrap;
}

#navbar #nav-cart .nav-cart-button {
display: block;
overflow: hidden;
position: absolute;
left: 10px;
top: 11px;
background-position: -10px -340px;
width: 38px;
height: 26px;
}

#nav-cart .nav-cart-0 {
left: 23px;
top: 9px;
font-size: 16px;
width: 19px;
}
#nav-cart-count {
color: #e47911;
font-weight: bold;
font-family: "arial","sans-serif";
position: absolute;
line-height: 16px;
width: 20px;
text-align: center;
}

 #navbar #nav-cart .nav-button-line2 {
margin-left: 42px;
}

 #nav-search-label {
position: relative;
display: inline-block;
float: left;
line-height: 35px;
color: #333;
font-weight: bold;
padding: 0px 10px 0px 0px;
margin-top: 10px;
font-family: "arial","sans-serif";
}

 #nav-searchbar {
position: relative;
display: block;
white-space: nowrap;
overflow: hidden;
-webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
border-radius: 0px\9;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: auto;
margin: 10px 0px 0px;
}

 #nav-searchbar .nav-submit-button {
float: right;
display: inline-block;
position: relative;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
height: 35px;
width: auto;
overflow: hidden;
cursor: pointer;
z-index: 1;
border: 1px solid;
border-color: #485059 #2c3137 #363c43 #485059;
background-color: #5b626a;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
border-radius: 0px\9;
background-position: 0px -381px;
}

 #nav-searchbar .nav-submit-button .nav-submit-input {
display: inline-block;
height: 100%;
line-height: 33px;
margin: 0px 11px;
padding: 0;
background: none;
border: none;
cursor: pointer;
outline: none;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
font-weight: bold;
color: white;
font-size: 13px;
font-family: "arial","sans-serif";
vertical-align: middle;
text-align: center;
}

 #nav-searchbar #nav-search-in {
float: left;
display: inline-block;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
position: relative;
height: 35px;
overflow: hidden;
border: 1px solid #cdcdcd;
border-top-color: #bdbdbd;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
border-radius: 0px\9;
background-position: 0px -532px;
}

  #nav-searchbar #nav-search-in .nav-down-arrow {
border-style: solid;
_border-style: dashed;
border-width: 4px;
border-color: transparent;
border-top: 4px solid #a0a0a0;
border-bottom-width: 0;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
position: absolute;
right: 8px;
top: 14px;
}

 #nav-searchbar .nav-searchfield-width {
width: auto;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
height: 35px;
overflow: hidden;
border-top: 1px solid #bdbdbd;
border-bottom: 1px solid #cdcdcd;
background: white;
}

 #nav-searchbar #nav-iss-attach {
position: relative;
padding: 0;
height: 100%;
white-space: normal;
}

 #nav-searchbar #twotabsearchtextbox {
position: absolute;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
top: 6px;
left: 0px;
margin: 0;
padding: 0 0 0 8px;
width: 100%;
height: 23px;
border: none;
font-family: "arial","sans-serif";
font-size: 15px;
background: transparent;
color: #333;
outline: none;
-webkit-appearance: none;
box-shadow: none;
}

 #nav-searchbar .nav-facade-active #searchDropdownBox {
left: 0;
top: 0;
height: 29px;
cursor: pointer;
width: auto;
}
#nav-searchbar #searchDropdownBox {
font-family: "arial","sans-serif";
position: absolute;
left: 5px;
top: 7px;
margin: 0;
padding: 0;
outline: none;
width: 190px;
}
.nav-facade-active #searchDropdownBox {
opacity: 0;
filter: alpha(opacity=0);
visibility: visible;
}

#nav-searchbar #nav-search-in-content {
color: #777;
font-size: 12px;
white-space: nowrap;
font-family: "arial","sans-serif";
text-indent: 1px;
height: 35px;
margin: 0 21px 0 9px;
line-height: 33px;
text-overflow: ellipsis;
display: inline-block;
}

#nav-subnav-container {
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
border-top: 1px solid rgba(0,0,0,0.17);
border-bottom: 1px solid rgba(0,0,0,0.1);
background: #fafafa;
}

#nav-subnav-container #nav-subnav {
top: 0px;
margin: 0;
padding: 0 9px 0 3px;
list-style-type: none;
overflow: hidden;
white-space: nowrap;
height: 31px;
line-height: 13px;
font-family: "arial","sans-serif";
font-size: 11px;
}

#nav-subnav-container #nav-subnav .nav-subnav-item {
top: 0px;
font-size: 12px;
margin: 4px 0px 0px 0px;
}
#nav-subnav li.nav-subnav-item {
position: relative;
display: inline;
margin: 0px;
float: left;
line-height: 13px;
}
#nav-subnav .nav-category-button {
font-weight: bold;
font-size: 12px;
}

#nav-subnav li.nav-subnav-item a.nav_a, #nav-subnav li.nav-subnav-item a.nav_a:visited, #nav-subnav li.nav-subnav-item a.nav_a:link {
display: inline-block;
text-decoration: none;
color: #333;
font-family: "arial","sans-serif";
padding: 6px 10px 7px 13px;
}
#nav-subnav li.nav-subnav-item a.nav_a, #nav-subnav li.nav-subnav-item a.nav_a:visited, #nav-subnav li.nav-subnav-item a.nav_a:link {
display: inline-block;
text-decoration: none;
color: #333;
font-family: "arial","sans-serif";
padding: 6px 10px 7px 13px;
}
#nav-subnav li.nav-subnav-item a.nav_a, #nav-subnav li.nav-subnav-item a.nav_a:visited, #nav-subnav li.nav-subnav-item a.nav_a:link {
display: inline-block;
text-decoration: none;
color: #333;
font-family: "arial","sans-serif";
padding: 6px 10px 7px 13px;
}

.clearbox{
    clear:both;
}

@media (min-width: 1900px){
    .container {
        width: 1900px;
    }
}


#main-image-widget .amiLinkRow {
text-align: center;
font-size: x-small;
padding-top: 6px;
}

#main-image-widget{
    width:300px;
}

.bookInfo{
    margin-top:20px;
    width:100%;
}

.buying {
padding: 0.25em 0em;
font-size: .86em;
}

.parseasinTitle {
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.7em;
font-weight: normal;
margin-bottom: 0;
margin-top: 0;
}

hr {
border-top: 1px solid #ccc !important;
}

.swSprite {
display: -moz-inline-box;
display: inline-block;
margin: 0;
padding: 0;
position: relative;
overflow: hidden;
vertical-align: middle;
background: url(../images/sprite-site-wide-3.png) no-repeat;
}

.s_star_4_5 {
background-position: -30px -20px;
width: 65px;
height: 13px;
}

.swSprite span {
position: absolute;
left: -9999px;
}

.rentalPriceLabel {
color: #000;
}

#rentalPriceBlockGrid .rentalPriceLabel {
font-size: 16px;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: Bold;
}

#rentalPriceBlockGrid .rentPrice {
font-size: 18px;
font-family: verdana,arial,helvetica,sans-serif;
font-weight: normal;
color: #990000;
}

#rentalPriceBlockGrid .availGreen {
color: #090;
}

element.style {
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
user agent stylesheetdiv {
display: block;
}

#rentalPriceBlockGrid .availRed, #rentalPriceBlockGrid .availGreen, #rentalPriceBlockGrid .rentalPriceLabel {
font-size: 16px;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: Bold;
}

#newItemAvailability{
    margin-top:10px;
}

#rentalPriceBlockGrid .availabilityExtraMessage, #newItemAvailability .buying {
font-size: 12px;
font-weight: normal;
font-family: arial,verdana,helvetica,sans-serif;
color: #000;
line-height: 15px;
}

.book-content h2, .product-detail h2 {
color: #CC6600;
font-size: medium;
margin: 0px 0px 0.25em;
font-weight:bold;
}

.content{
    width: 80%;
}

.byLinePipe {
color: #666666;
}

.product-detail{
    line-height:2em;
}

.product-detail-list {
margin: 0.5em 0px 0em 25px;
}

.product-detail-list ul {
    list-style-type: none;
}

#navFooter {
margin: 30px 0 8px 0;
padding: 0 0 7px 0;
}

#navFooter td {
font-family: "arial","sans-serif";
font-size: 13px;
line-height: 120%;
}

.navFooterLinkCol {
color: #333;
vertical-align: top;
}

.navFooterColHead {
font-family: "arial","sans-serif";
font-weight: bold;
color: #E47911;
margin: 0 0 8px 0;
white-space: nowrap;
}

.navFooterLinkCol ul li {
list-style-type: none;
white-space: nowrap;
margin: 0 0 8px 0;
}

.navFooterVerticalColumn .navFooterColSpacerInner {
width: 10%;
padding: 0 15px;
}

#navFooter table.navFooterVerticalColumn {
margin: 0 auto 0 auto;
width: auto;
}

.navFooterLogoLine {
margin: 30px 8px 4px 8px;
font-size: 1px;
line-height: 0px;
}

.navFooterLine {
font-family: "arial","sans-serif";
color: #999;
font-size: 11px;
text-align: center;
line-height: 18px;
}

.navFooterLinkLine {
margin: 0 8px 0 8px;
}

.navFooterLinkLine ul {
list-style-type: none;
display: inline;
padding: 0px;
margin: 0px;
}

.navFooterLinkLine ul li {
display: inline;
}

#navFooter a:link, #navFooter a:visited {
font-family: "arial","sans-serif";
color: #004B91;
text-decoration: none;
}

#navFooter a:hover,#navFooter a:active,#navFooter a:hover span,#navFooter a:active span{
color:#E47911;
}

.navFooterPadItemLine a, .navFooterPadItemLine span {
padding: 0 0.6em;
}

.navFooterDescSpacer {
padding: 0;
}

.navFooterDescLine {
margin: 20px 0 14px 0;
}

#navFooter .navFooterDescItem {
font-size: 11px !important;
padding: 0 0.75em;
vertical-align: top;
text-align: left;
line-height: 115%;
}

#navFooter td {
font-family: "arial","sans-serif";
font-size: 13px;
line-height: 120%;
}

.navFooterDescText {
font-size: 10px;
color: #999;
line-height: 110%;
display: block;
margin-bottom: 1px;
}

#navFooter a, #navFooter span {
font-family: "arial","sans-serif";
white-space: nowrap;
}